@media (max-width: 1366px) and (max-height: 768px) {
	#w1 {
		padding-top:0px;
		padding-bottom: 0px;
	}
	#w2 {
		padding-top:0px;
		padding-bottom: 0px;
	}
	#w3 {
		padding-top:0px;
		padding-bottom: 0px;
	}
}